.comments {
    background-color: $light;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image {
            padding-top: 120px;
        }

        &__text {

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;

            color: #000000;
        }
    }

}

.swiper {
    max-width: 570px;
    height: 270px;

    &-slide {
        display: flex;
        background-color: aliceblue;
        border-bottom: 3px solid $orange;

        &-img {
            max-width: 102px;
            max-height: 102px;
        }
    }
}