.comments {
    background-color: $light;
    padding-bottom: 62px;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;

        &__image {
            padding-top: 120px;
        }

        &__text {

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;

            color: #000000;
        }
    }

}

.swiper {
    max-width: 90vw;
    height: 270px;

    &-slide {

        max-width: calc(90vw / 2);

        p {

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-align: center;

            color: #000000;

            &.coma {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 47px;
                text-align: center;

                color: #FC6B3F;
            }

        }


        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 3px solid $orange;

        background: #FFFFFF;
        box-shadow: 0px 0px 18px -11px #000000;


        &-img {
            padding-left: 20px;

            img {
                margin-right: 130px;
            }

            span {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;

                color: #727272;

            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 102px;
            max-height: 102px;
        }
    }
}