.contacts {
    padding-top: 102px;
    background-color: $light;

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: calc(50px + 50px);

        &-image {
            margin-bottom: 12px;
        }

        &-button {
            &-button {
                img {
                    padding-right: 10px;
                }

                min-width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-text {
            text-align: center;

            p {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                text-align: center;

                color: #000000;
            }

            span {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;

                color: #000000;
            }

        }
    }
}

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .contacts-block {
        padding-left: 0;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .contacts-block {
        padding-left: 0;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .contacts-block {
        padding-left: 0;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .contacts {
        padding-top: 46px;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {}