    .firstpage-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .firstpage {
        background-color: $light;

    }

    .firstpage__text {
        max-width: 450px;

        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
    }

    .firstpage-container {
        padding-left: 60px;
    }

    #first-page-img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    .firstpage__button {
        width: 178px;
        height: 64px;
        background: $orange;
        border-radius: 9px;


        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        border: none;

        margin: 0 auto;
        display: block;
        margin-top: 36px;
        margin-bottom: 77px;


        color: #FFFFFF;
    }

    .firstpage-footer {
        padding: 10px;
        background-repeat: repeat-x;
        background-position: left center;
        height: 30px;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (min-width: 1200px) {}

    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
        .container {
            padding-left: 0;
        }

        .firstpage-container {
            padding-left: 0;
            display: flex;
            flex-direction: column;
        }
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        .container {
            padding-left: 0;
        }

        .firstpage-container {
            padding-left: 0;
            display: flex;
            flex-direction: column;
        }
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 768px) {
        .container {
            padding-left: 0;
        }

        .firstpage-container {
            padding-left: 0;
            display: flex;
            flex-direction: column;
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .firstpage-button__button {
            padding: 120px 50px 100px 50px;
            display: flex;
            height: 90px;
            align-items: center;
            justify-content: center;
        }

        .firstpage {
            & .container {
                & .firstpage__button {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }

    /* Iphone 5 */
    @media (max-width: 320px) {}