.footer {
    background-color: $black;

    &-container-logo {
        margin-bottom: 40px;
    }

    &-container-text {

        & p:first-child {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }
    }
}