.footer {
    background-color: $black;

    &-container-logo {
        margin-bottom: 40px;
    }

    &-container-text {

        & p:first-child {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }
    }
}

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .footer-container {
        padding-left: 30px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .footer-container {
        padding-left: 20px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .footer-container {
        padding-left: 0;
        text-align: center;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}