.footer {
    background-color: $black;

    &-container-logo {
        margin-bottom: 40px;
    }

    &-container-text {

        & p:first-child {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
        }
    }
}

@media screen and (min-width:1024px) and (max-width:1243px) {
    .footer-container {
        padding-left: 50px;
    }
}

@media screen and (min-width:1024px) and (max-width:1243px) {
    .footer-container {
        padding-left: 50px;
    }
}