.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.nav {
    background-color: $light;
}

.nav__links {
    display: flex;
    flex-direction: row;

    & a {
        margin-right: 42px;
        font-size: 24px;
    }
}

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-row {
        padding-left: 60px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-row {
        padding-left: 30px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .nav-row {
        padding-left: 30px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}