.nav-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.nav-menu-btn {
    height: 30px;
    position: absolute;
    right: 2rem;
    display: none;

    img {
        max-width: 100%;
        height: 100%;
        display: block;
    }
}

.nav {
    background-color: $light;
}

.nav__links {
    display: flex;
    flex-direction: row;

    & a {
        margin-right: 42px;
        font-size: 24px;
    }
}

@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-row {
        padding-left: 60px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-row {
        padding-left: 30px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .nav-row {
        padding-left: 30px;
    }
}

@media (max-width:660px) {
    .nav__links {
        &.active {
            position: fixed;
            display: flex;
            justify-content: center;
            text-align: center;
            z-index: 6;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            //font
            flex-direction: column;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 36px;
        }

        display: none;
    }

    .nav-menu-btn {
        display: block;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}