.secondpage-container {
    padding-top: 160px;
    padding-bottom: 160px;
}

.description-secondpage {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondpage-benefits {
    margin-top: 50px;
    padding-left: 70px;
}

.secondpage-benefits-item__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    text-align: center;
}

.secondpage-benefits-item {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px -11px #000000;
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    border-bottom: 4px solid $orange;
}

.secondpage-benefits-item__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;

    color: #000000;
}

.secondpage-benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secondpage__text {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 1225px;
}

.secondpage {
    background: linear-gradient(180deg, #FFF6DA 0%, rgba(196, 196, 196, 0) 100%);
}

/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .secondpage-benefits-item {
        width: 300px;
    }

    .secondpage-benefits {
        padding-left: 0;
        padding: 0 20px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .secondpage-benefits {
        padding-left: 0;
        padding: 0 20px;

        &-list {
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        &-item {
            max-width: 500px;

            &__text {
                font-size: 15px;
            }

            &__title {
                font-size: 18px;
            }
        }
    }

    .description-secondpage {
        padding-left: 0;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    .secondpage-benefits {
        padding-left: 0;
        padding: 0 20px;

        &-list {
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        &-item {
            max-width: 450px;

            &__text {
                font-size: 15px;
            }

            &__title {
                font-size: 18px;
            }
        }
    }

    .description-secondpage {
        padding-left: 0;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .secondpage {
        background: none;
    }

    .description-secondpage {
        padding-top: 60px;
        background: linear-gradient(180deg, #FFF6DA 0%, #FFFFFF 0%, #FFF6DA 0.01%, #FFFFFF 100%);
    }

    .secondpage-benefits {
        margin-top: 0;
        padding-top: 50px;
        background-color: #FFFFFF;
    }

    .secondpage-container {
        padding-top: 0;
    }

    .secondpage {
        .container {
            padding-top: 0;
        }
    }
}

/* Iphone 5 */
@media (max-width: 320px) {}